*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter Tight', sans-serif;
    height: 100vh;
    display: flex;
    padding: 2.5rem 8rem;
    background-color: $color-bkg;
    color: $color-primary;

    @media screen and (max-width: 768px) {
        padding: 2.5rem;
    }

    // Media query for very small screens (max-width: 480px)
    @media screen and (max-width: 480px) {
        padding: 1.5rem;
    }
}

.main {
    margin-right: 5rem;
    
}